---
import TimelineCardContent from "./TimelineCardContent.astro";
import TimelineDot from "./TimelineDot.astro";
import TimelineImage from "./TimelineImage.astro";

interface Props {
	date: string;
	title: string;
	text: string;
	image: ImageMetadata;
}

const { date, title, text, image } = Astro.props;
---

<div class="relative">
	<div class="absolute -left-14 top-1 flex items-center justify-center">
		<TimelineDot />
	</div>
	<TimelineCardContent date={date} title={title} text={text} />
	<div class="mt-4">
		<TimelineImage src={image} alt={title} size="sm" />
	</div>
</div>
