---
import TimelineCardContent from "./TimelineCardContent.astro";
import TimelineDot from "./TimelineDot.astro";
import TimelineImage from "./TimelineImage.astro";

interface Props {
	date: string;
	title: string;
	text: string;
	image: ImageMetadata;
	position: "left" | "right";
}

const { date, title, text, image, position } = Astro.props;
const isLeft = position === "left";
---

<div
	class:list={[
		"relative grid items-center gap-8 md:grid-cols-[1fr_auto_1fr]",
	]}
>
	{/* Left column */}
	<div
		class:list={[
			"md:text-right",
			isLeft ? "order-1" : "order-1 md:order-3 md:text-left",
		]}
	>
		{
			isLeft ? (
				<div>
					<TimelineCardContent
						date={date}
						title={title}
						text={text}
					/>
				</div>
			) : (
				<div class="flex justify-center md:justify-end">
					<TimelineImage src={image} alt={title} />
				</div>
			)
		}
	</div>

	{/* Centre dot */}
	<div class="order-2 hidden md:flex md:flex-col md:items-center">
		<TimelineDot />
	</div>

	{/* Right column */}
	<div class:list={[isLeft ? "order-3" : "order-3 md:order-1 md:text-right"]}>
		{
			isLeft ? (
				<div class="flex justify-center md:justify-start">
					<TimelineImage src={image} alt={title} />
				</div>
			) : (
				<div>
					<TimelineCardContent
						date={date}
						title={title}
						text={text}
					/>
				</div>
			)
		}
	</div>
</div>
