---
import HeartDivider from "../love-story/HeartDivider.astro";
import TimelineCard from "./TimelineCard.astro";
import { milestones } from "./milestones.ts";
import TimelineCardMobile from "./TimelineCardMobile.astro";
---

<section id="timeline" class="section-padding bg-cream">
	<div class="mx-auto max-w-5xl">
		<h2 class="section-title">Unsere gemeinsame Reise</h2>
		<p class="mx-auto mb-4 max-w-xl text-center text-text-light">
			Die wichtigsten Meilensteine auf unserem Weg zum Altar.
		</p>

		<HeartDivider />

		{/* Mobile: left-aligned line + cards */}
		<div class="relative md:hidden">
			<div
				class="absolute top-0 bottom-0 left-6 w-px bg-primary-light/50"
			>
			</div>
			<div class="flex flex-col gap-12 pl-14">
				{
					milestones.map((m) => (
						<TimelineCardMobile
							date={m.date}
							title={m.title}
							text={m.text}
							image={m.image}
						/>
					))
				}
			</div>
		</div>

		{/* Desktop: centre-line alternating cards */}
		<div class="relative hidden md:block">
			<div
				class="absolute inset-y-0 left-1/2 w-px -translate-x-1/2 bg-primary-light/50"
			>
			</div>
			<div class="flex flex-col gap-16">
				{
					milestones.map((m, i) => (
						<TimelineCard
							date={m.date}
							title={m.title}
							text={m.text}
							image={m.image}
							position={i % 2 === 0 ? "left" : "right"}
						/>
					))
				}
			</div>
		</div>
	</div>
</section>
