---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
	image: ImageMetadata;
	alt: string;
	title: string;
	text: string;
	author: string;
}

const { image, alt, title, text, author } = Astro.props;
---

<article class="group">
	<div class="overflow-hidden rounded-2xl shadow-sm">
		<Image
			src={image}
			alt={alt}
			class="aspect-3/2 w-full object-cover transition-transform duration-500 group-hover:scale-105"
			loading="lazy"
		/>
	</div>
	<h3 class="mt-6 font-heading text-2xl font-semibold text-text">
		{title}
	</h3>
	<p class="mt-3 leading-relaxed text-text-light">
		{text}
	</p>

	<p class="mt-3 text-text-light">
		- {author}
	</p>
</article>
